@import "../base/global";





#logo {
  text-align: center;
  line-height: 32px;
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}
#logo_v {
  color: red;
  font-weight: bold;
  font-size: 18px;
}
#logo_m {
  color: rgb(61,158,255);
  font-weight: bold;
  font-size: 18px;
}
